.git
.idea
node_modules
vendor
*.log
.env
.env.*
docker-compose*
Dockerfile*
.dockerignore
.gitignore
.gitattributes
README.md
storage/framework/cache/**
storage/framework/sessions/**
storage/framework/views/**
storage/logs/**

nodejs/node_modules
laravel/vendor
